<h1>Edit A User</h1>
<form action="/users/<%= @user.id %>" method="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" value="<%=@user.name%>" name="name">
    <input type='submit' value='Update'>
</form>