<form class="form-group" action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label class='form-control' for="email"></label>
  <input class='form-control' type="text" name="user[email]" placeholder="Email">
  <label class='form-control' for="password">Password</label>
  <input class='form-control' type="text" name="user[password]" placeholder="Password">

  <button type="submit" name="Log In">Log In</button>
</form>
