<!DOCTYPE html>
<html>
<head>
	<title>Display Time</title>
	<script>
		#container{
			width:800;
			text-align:center;
			background-color:lightblue;
			margin: 0px auto;
		}
	</script>
</head>
<body>
	<div id='container'>
		<h2>The current date and time is:</h2>
		<h2><%= @date %></h2>
		<h2><%= @time %></h2>
	</div>
</body>
</html>