<h1>Listing Users</h1>
<table>
  <thead>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>