<h1>Create New User</h1>
<form action='/users/create' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="name" placeholder="Name" />
    <input type="submit" value="Add User">
</form>