<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<div class="container">
  <form class="form-group" action="/users" method="post" >
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name" class='form-control'>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

</div>
